main.about {

  #more-info {

    .info {

      &-images {
        
        background-image: 
          url(../images/img/layer-nosotros.png),
          url(../images/img/mujer-nosotros-2.png);
        background-size: 
          72%,
          75%;
        background-position: 
          100% 100%,
          0% 0%;
        background-repeat: no-repeat;
        width: 100%;
        height: 40rem;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;

      }

      &-title {

        h1 {
          color: $secondary-color;
          font-size: 3rem;
          font-weight: bold;
          letter-spacing: -2px;
          @include mq(desktop-wide, max) {
            font-size: 2.5rem;
          }
        }

      }

      &-text {
        width: 80%;

        p {
          margin-bottom: 1rem;
          font-size: 1.2rem;
          color: $layout-color;
        }

      }

    }

  }

  // Title Carousel
  #title-about {
    
    h1 {

      font-size: 4rem;
      letter-spacing: -2px;
      
      @include mq(desktop-wide, max) {
        font-size: 2rem;
      }

    }

  }

  #carousel-cards {

    ul.slick-dots {

      margin: -2rem 0;

      li > button {

        width: 5px;
        height: 5px;
        background: #44413c;
        border-radius: 50%;

        &::before {
          content: '';
        }

      }

      li.slick-active {
          
        button {
          background: #0d6ba7 !important;
        }

      }

    }

    .slick-initialized {
      
      .slick-slide {
        outline: 0px;
        cursor: grab;
      }
      
    }

    .card-item {

      a:focus {
        outline: none;
      }

      &_title {
        h1 {
          margin-top: .5rem;
          margin-bottom: .5rem;
          color: $secondary-color;
        }
      }

      &_tag--span {
        
        @extend %flex-row-center;
        justify-content: flex-start;

      }

      &_tag {
        span {
          border-radius: 5px;
        }
      }

      &_span {
        margin-left: 1rem;
        color: $black;
        letter-spacing: 1px;
        word-spacing: 2px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: .8rem;
      }
      
    }

  }

}