<section id="info-location">
  <div class="container location my-5">
    <div class="row align-items-center py-md-5 pt-5">

      <div class="col-md-6 location-title_tag">
        
        <div class="location-title">
          <h1>We are located in the <br> heart of Long Island's <br> Huntington Village</h1>
        </div>

        <div class="loaction-tag tag tag-primary">
          <span>inspire creativity, and foster collabroation</span>
        </div>

      </div>
      <div class="col-md-6 location-general">

        <div class="location-content location-address">
          <h1>Address</h1>
          <p>Campos Coffe / 1 / 16 Baker Street / Banksmeadow NSW 2019 <br> Corporate Office and Warehouse only</p>
        </div>
        
        <div class="row">
          <div class="location-content col-12 col-md-6 location-media">
            <h1>For Media</h1>
            <p>media@mitarjetaonline.com</p>
            <p>reception@mitarjetaonline.com</p>
          </div>
          <div class="location-content col-12 col-md-4 location-phone">
            <h1>Phone</h1>
            <p>(01) 0347 7445</p>
            <p>(02) 0347 7445</p>
          </div>
        </div>

      </div>
      
    </div>
  </div>
</section>