* {
  margin: 0;
  padding: 0;
  letter-spacing: 0px;
}

body,
html {
  @extend %wrap-wrap;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: $background-body;
}

#wrap-wrap {
  @extend %wrap-wrap;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-titles;
}

p, span, a, figure, abbr {
  font-family: $font-text;
}

a {
  text-decoration: none;
}

blockquote {
  padding: 2rem;
}

img {
  width: auto;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

sup {
  vertical-align: bottom !important;
}