/* Header - Main Menu */
header {

  position: relative;

  .tag-circle {
    position: absolute;
    top: 0;
    right: 0;
  }

  .menu {

    position: relative;

    &-main {
      display: block;
      padding: 2rem 0;
    }

    &-logo {
      text-align: center;
    }
    
    &-input_icons {
      padding: 2rem 0;
    }

    &-input {

      @include mq(tablet-pro, max) {
        display: none;
      }

      display: inline-flex;
      align-items: center;

      background: $white;
      padding: 10px 15px;
      border: {
        color: $primary-color;
        width: 3px;
        style: solid;
        radius: 15px;
      }

      i,
      svg, 
      span {
        color: $primary-color;
        font-weight: bold;
        font-size: 1.5rem;
        width: auto;
        cursor: pointer;
      }

      form {
        display: flex;
      }

      input {
        border: 0px;
        outline: 0px;
        // width: auto;
        font-size: 1.5rem;
        font-family: $font-text;
        // float: left;
        max-width: 50%;
        padding-bottom: 5px;
        
        &::placeholder {
          color: $primary-color;
          font-size: 1rem;
          font-weight: bold;
        }
      }

      select {
        border: 0px;
        outline: 0px;
        font-weight: bold;
        color: $primary-color;
        font-family: $font-text;
        margin-left: auto;
        // margin-bottom: .3rem;
        cursor: pointer;
        float: right;
        // width: auto;
        max-width: 50%;
      }

    }

    &-shop {

      @include mq(tablet-pro, max) {
        display: none;
      }

      i, 
      svg {
        color: $secondary-color;
        font-size: 2rem;
        margin: 0 .7rem;
      }

      .divider-ver {
        @extend %divider-ver;
        margin-right: 1.5rem;
      }

      .icon-user {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: $secondary-color;
          font-weight: bold;
        }

      }

    }

    &-links {

      @include mq(tablet-pro, max) {
        display: none;
      }

      .link-item {

        padding: 10px 0;
        transition: ease .5s;
        
        &.active {
          position: relative;
          &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 50%;
            transform: translate(-35%, 0%);
            width: 15px;
            border-bottom: 4px solid $primary-color;
            border-radius: 50px;
            
            @include mq(desktop-wide, max) {
              transform: translate(35%, 0%);
            }

          }
        }
        
        &:hover {
          @extend .link-item.active;
          transition: ease .5s;
        }

        a {
          color: $layout-color;
          font-weight: bold;
          padding: 0 15px 0 15px;
          letter-spacing: 2px;
          transition: ease .5s all;
          
          @include mq(desktop-wide, max) {
            letter-spacing: 0rem;
            padding: 0 0 0 20px;
          }
          
          @include mq(tablet-wide, max) {
            padding: 0 0 0 25px;
            font-size: .8rem;          
          }

        }

      }

    }

    &-social {

      @include mq(tablet-pro, max) {
        display: none;
      }

      @extend %no-gutters;

      ul {

        @extend %flex-row-center;
        justify-content: flex-start;

        li {
          
          border: {
            radius: 50%;
            width: 3px;
            style: solid;
            color: $secondary-color;
          }

          width: 30px;
          height: 30px;
          margin: 0 5px;
          position: relative;

        }

        a {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 1rem;
          color: $secondary-color;
        }

      }

    }

    &-cart-alert {
      position: relative;
      &::after {
        position: absolute;
        content: '3';
        top: 0;
        right: 0;
        background: #0b71fa;
        color: #fff;
        width: 15px;
        height: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8rem;
        padding-bottom: .250rem;
        border-radius: 50%;
      }
    }

  }
}