#top-header {
  background: $lg-top_header;
  padding: 10px 0;
  text-align: center;
  .link {
    &-promo {
      color: $white;
      font-size: 1rem;
      letter-spacing: 1px;
      width: 100%;
    }
  }
}