<section id="carousel-cards">
  <div class="container-fluid">
    <div class="row py-5">
      <div class="col-10 m-auto">

        <div class="cards-carousel" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "dots": true, "infinite": true, "autoplay": true}'>

          <div class="card-item">
            
            <a href="#">
              <div class="card-item_image">
                <img src="images/img/normal-product-1.png" alt="" class="img igm-fluid">
              </div>
              <div class="card-item_title">
                <h1>Dunkin' Donuts</h1>
              </div>
              <div class="card-item_tag--span">

                <div class="card-item_tag tag tag-dark">
                  <span>got gift?</span>
                </div>
                <div class="card-item_span">
                  <p>conect with us!</p>
                </div>

              </div>
            </a>

          </div>

          <div class="card-item">
            
            <a href="#">
              <div class="card-item_image">
                <img src="images/img/normal-product-2.png" alt="" class="img igm-fluid">
              </div>
              <div class="card-item_title">
                <h1>Amazon.com</h1>
              </div>
              <div class="card-item_tag--span">

                <div class="card-item_tag tag tag-dark">
                  <span>got gift?</span>
                </div>
                <div class="card-item_span">
                  <p>conect with us!</p>
                </div>

              </div>
            </a>

          </div>

          <div class="card-item">
            
            <a href="#">
              <div class="card-item_image">
                <img src="images/img/normal-product-3.png" alt="" class="img igm-fluid">
              </div>
              <div class="card-item_title">
                <h1>Apple Store</h1>
              </div>
              <div class="card-item_tag--span">

                <div class="card-item_tag tag tag-dark">
                  <span>got gift?</span>
                </div>
                <div class="card-item_span">
                  <p>conect with us!</p>
                </div>

              </div>
            </a>

          </div>

          <div class="card-item">
            
            <a href="#">
              <div class="card-item_image">
                <img src="images/img/normal-product-4.png" alt="" class="img igm-fluid">
              </div>
              <div class="card-item_title">
                <h1>Google Play</h1>
              </div>
              <div class="card-item_tag--span">

                <div class="card-item_tag tag tag-dark">
                  <span>got gift?</span>
                </div>
                <div class="card-item_span">
                  <p>conect with us!</p>
                </div>

              </div>
            </a>

          </div>

          <div class="card-item">
            
            <a href="#">
              <div class="card-item_image">
                <img src="images/img/normal-product-2.png" alt="" class="img igm-fluid">
              </div>
              <div class="card-item_title">
                <h1>Amazon.com</h1>
              </div>
              <div class="card-item_tag--span">

                <div class="card-item_tag tag tag-dark">
                  <span>got gift?</span>
                </div>
                <div class="card-item_span">
                  <p>conect with us!</p>
                </div>

              </div>
            </a>

          </div>

          <div class="card-item">
            
            <a href="#">
              <div class="card-item_image">
                <img src="images/img/normal-product-3.png" alt="" class="img igm-fluid">
              </div>
              <div class="card-item_title">
                <h1>Apple Store</h1>
              </div>
              <div class="card-item_tag--span">

                <div class="card-item_tag tag tag-dark">
                  <span>got gift?</span>
                </div>
                <div class="card-item_span">
                  <p>conect with us!</p>
                </div>

              </div>
            </a>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>