<section id="carousel-cards">
  <div class="container-fluid">
    <div class="row">
      <div class="col-10 m-auto">

        <div class="cards-carousel" data-slick='{"slidesToShow": 4, "slidesToScroll": 1, "dots": true, "infinite": true, "autoplay": true}'>
          <div class="card-item">
            <img src="images/img/product-amazon.png" alt="" class="img igm-fluid">
          </div>
          <div class="card-item">
            <img src="images/img/product-amazon.png" alt="" class="img igm-fluid">
          </div>
          <div class="card-item">
            <img src="images/img/product-amazon.png" alt="" class="img igm-fluid">
          </div>
          <div class="card-item">
            <img src="images/img/product-amazon.png" alt="" class="img igm-fluid">
          </div>
          <div class="card-item">
            <img src="images/img/product-amazon.png" alt="" class="img igm-fluid">
          </div>
          <div class="card-item">
            <img src="images/img/product-amazon.png" alt="" class="img igm-fluid">
          </div>
        </div>

      </div>
    </div>
  </div>
</section>