<div style="display: none;" id="modal-advance_product" class="modal-advance_product modal">
	<div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 modal-image">
        <img src="images/img/product-nike.png" alt="img-advance-product" class="img img-fluid">
      </div>
      <div class="col-12 col-md-6 modal-content">
        <div class="modal-title">
          <h1>Nike shoes Gift Cards Specialty gift box</h1>
        </div>
        <div class="modal-tags tag tag-primary">
          <span>Version Digital</span>
          <span>Buy a $50 Nike card and get a free $15 domino's card!</span>
        </div>
        <div class="modal-subtitle">
          <h2>$5 to $100 | Redemption: Online & In-Store</h2>
        </div>
        <div class="modal-description">
          <p>
            For over 60 years adidas has been part of the world of sports on every level, delivering state-of-the-art sports footwear, apparel and accesories. Today, the Nike Group is a global leader in the sporting goods industry and its brands offer a broad portfolio of innovative products. Use this git card at Nike retail locations or online at ...
            <a href="#">Read more</a>
          </p>
        </div>
        <div class="modal-form">
          <form action="GET">

            <div class="modal-price">
              <label>
                <input type="radio" name="price" id="price-1">
                <span id="get-price-1"> $ 5.000</span>
              </label>
              <label>
                <input type="radio" name="price" id="price-2">
                <span id="get-price-2"> $ 25.000</span>
              </label>
              <label>
                <input type="radio" name="price" id="price-3">
                <span id="get-price-3"> $ 50.000</span>
              </label>
              <label>
                <input type="radio" name="price" id="price-4">
                <span id="get-price-4"> $ 100.000</span>
              </label>
            </div>

            <div class="modal-buttons">
              <!-- <button type="submit" class="btn btn-primary">Comprar Tarjeta</button> -->
              <a href="#" class="btn btn-primary">Comprar Tarjeta</a>
              <a href="#" class="btn btn-primary btn-outline">Compartir con un amigo</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>