<section id="cards-product" class="pt-1 pb-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-lg-10 col-xl-8 m-auto">

        <!-- All Cards -->
        <div class="row">

          <!-- Card -->
          <div class="col-md-4 col-6">
            <div class="card">
              
              <!-- Front Card -->
              <div class="card-front card-position card-1">
                <div class="card-button">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
                <div class="card-box__tag--title">
                  <div class="card-tag tag tag-light">
                    <span>Version Digital</span>
                  </div>
                  <div class="card-title">
                    <h2>Amazon.com<br>Gift Cards<br>Specially gift box</h2>
                  </div>
                </div>
              </div>

              <!-- Back Card -->
              <div class="card-back card-position card-1">
                <div class="card-button">
                  <a href="#">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="card-box__tag--title">
                  <div class="card-title">
                    <h2>Amazon.com Gift Cards Specially gift box</h2>
                  </div>
                  <div class="card-tag tag tag-dark">
                    <span>Version Digital</span>
                    <span>Buy a $50 nike card and get a free</span>
                  </div>
                  <div class="card-description">
                    <p>Dunkin' Donuts Card is a convenient everyday way to pay for all your DD favorites and is acepted at any participating Dunkin' Donuts location do you like free beverages and exlusive offers ?</p>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Card -->

          <!-- Card -->
          <div class="col-md-4 col-6">
            <div class="card">
              
              <!-- Front Card -->
              <div class="card-front card-position card-2">
                <div class="card-button">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
                <div class="card-box__tag--title">
                  <div class="card-tag tag tag-light">
                    <span>Version Digital</span>
                  </div>
                  <div class="card-title">
                    <h2>Amazon.com<br>Gift Cards<br>Specially gift box</h2>
                  </div>
                </div>
              </div>

              <!-- Back Card -->
              <div class="card-back card-position card-2">
                <div class="card-button">
                  <a href="#">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="card-box__tag--title">
                  <div class="card-title">
                    <h2>Amazon.com Gift Cards Specially gift box</h2>
                  </div>
                  <div class="card-tag tag tag-dark">
                    <span>Version Digital</span>
                    <span>Buy a $50 nike card and get a free</span>
                  </div>
                  <div class="card-description">
                    <p>Dunkin' Donuts Card is a convenient everyday way to pay for all your DD favorites and is acepted at any participating Dunkin' Donuts location do you like free beverages and exlusive offers ?</p>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Card -->

          <!-- Card -->
          <div class="col-md-4 col-6">
            <div class="card">
              
              <!-- Front Card -->
              <div class="card-front card-position card-3">
                <div class="card-button">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
                <div class="card-box__tag--title">
                  <div class="card-tag tag tag-light">
                    <span>Version Digital</span>
                  </div>
                  <div class="card-title">
                    <h2>Amazon.com<br>Gift Cards<br>Specially gift box</h2>
                  </div>
                </div>
              </div>

              <!-- Back Card -->
              <div class="card-back card-position card-3">
                <div class="card-button">
                  <a href="#">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="card-box__tag--title">
                  <div class="card-title">
                    <h2>Amazon.com Gift Cards Specially gift box</h2>
                  </div>
                  <div class="card-tag tag tag-dark">
                    <span>Version Digital</span>
                    <span>Buy a $50 nike card and get a free</span>
                  </div>
                  <div class="card-description">
                    <p>Dunkin' Donuts Card is a convenient everyday way to pay for all your DD favorites and is acepted at any participating Dunkin' Donuts location do you like free beverages and exlusive offers ?</p>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Card -->

          <!-- Card -->
          <div class="col-md-4 col-6">
            <div class="card">
              
              <!-- Front Card -->
              <div class="card-front card-position card-4">
                <div class="card-button">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
                <div class="card-box__tag--title">
                  <div class="card-tag tag tag-light">
                    <span>Version Digital</span>
                  </div>
                  <div class="card-title">
                    <h2>Amazon.com<br>Gift Cards<br>Specially gift box</h2>
                  </div>
                </div>
              </div>

              <!-- Back Card -->
              <div class="card-back card-position card-4">
                <div class="card-button">
                  <a href="#">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="card-box__tag--title">
                  <div class="card-title">
                    <h2>Amazon.com Gift Cards Specially gift box</h2>
                  </div>
                  <div class="card-tag tag tag-dark">
                    <span>Version Digital</span>
                    <span>Buy a $50 nike card and get a free</span>
                  </div>
                  <div class="card-description">
                    <p>Dunkin' Donuts Card is a convenient everyday way to pay for all your DD favorites and is acepted at any participating Dunkin' Donuts location do you like free beverages and exlusive offers ?</p>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Card -->

          <!-- Card -->
          <div class="col-md-4 col-6">
            <div class="card">
              
              <!-- Front Card -->
              <div class="card-front card-position card-5">
                <div class="card-button">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
                <div class="card-box__tag--title">
                  <div class="card-tag tag tag-light">
                    <span>Version Digital</span>
                  </div>
                  <div class="card-title">
                    <h2>Amazon.com<br>Gift Cards<br>Specially gift box</h2>
                  </div>
                </div>
              </div>

              <!-- Back Card -->
              <div class="card-back card-position card-5">
                <div class="card-button">
                  <a href="#">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="card-box__tag--title">
                  <div class="card-title">
                    <h2>Amazon.com Gift Cards Specially gift box</h2>
                  </div>
                  <div class="card-tag tag tag-dark">
                    <span>Version Digital</span>
                    <span>Buy a $50 nike card and get a free</span>
                  </div>
                  <div class="card-description">
                    <p>Dunkin' Donuts Card is a convenient everyday way to pay for all your DD favorites and is acepted at any participating Dunkin' Donuts location do you like free beverages and exlusive offers ?</p>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Card -->

          <!-- Card -->
          <div class="col-md-4 col-6">
            <div class="card">
              
              <!-- Front Card -->
              <div class="card-front card-position card-6">
                <div class="card-button">
                  <i class="fa fa-plus-circle" aria-hidden="true"></i>
                </div>
                <div class="card-box__tag--title">
                  <div class="card-tag tag tag-light">
                    <span>Version Digital</span>
                  </div>
                  <div class="card-title">
                    <h2>Amazon.com<br>Gift Cards<br>Specially gift box</h2>
                  </div>
                </div>
              </div>

              <!-- Back Card -->
              <div class="card-back card-position card-6">
                <div class="card-button">
                  <a href="#">
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="card-box__tag--title">
                  <div class="card-title">
                    <h2>Amazon.com Gift Cards Specially gift box</h2>
                  </div>
                  <div class="card-tag tag tag-dark">
                    <span>Version Digital</span>
                    <span>Buy a $50 nike card and get a free</span>
                  </div>
                  <div class="card-description">
                    <p>Dunkin' Donuts Card is a convenient everyday way to pay for all your DD favorites and is acepted at any participating Dunkin' Donuts location do you like free beverages and exlusive offers ?</p>
                  </div>
                </div>
              </div>

            </div>
          </div><!-- End Card -->

        </div>

      </div>
    </div>
  </div>
</section>