// Main Colors
$primary-color: #076ea9 !default;
$secondary-color: #3f3f3e !default;
$layout-color: #595959 !default;
$text-color: #b3afad !default;
$goup-color: #404040 !default;
$cart-color: #0b71ff !default;

// Elements Colors
$lg-top_header: linear-gradient(90deg, $primary-color, $cart-color) !default;
$lg-top_header-reverse: linear-gradient(90deg, $cart-color, $primary-color) !default;
$background-body: #fdfaf5 !default;

// Other Colors
$white: #fff;
$black: #000;

// Fuentes
$font-titles: 'Playfair Display', sans-serif, serif;
$font-text: 'Source Sans Pro', sans-serif, serif;

// Abtracts
$transition-sm: ease .3s all !important;
$transition-md: ease-in .5s all !important;
$transition-lg: ease-in-out .7s all !important;
$shadow-png: drop-shadow(-15px 35px 35px rgba(0,0,0,0.75));