/* Flickity */
.flickity {

  .carousel {
    background: $background-body;
  
    &-cell {
      width: 90%;
      height: auto;
      max-height: 50vh !important;
      margin-right: 10px;
      background: $primary-color;
      border-radius: 25px;
      counter-increment: carousel-cell;
      opacity: 0;
      overflow: hidden;
      
      @include mq(desktop-wide, max) {
        max-height: 45vh !important;
      }
  
      &.is-selected { opacity: 1; }

    }

    &-content {

      position: relative;
      
      h1 {
        color: $white;
        font-size: 4rem;
        margin-bottom: 0;
        margin-top: 0;

        @include mq(desktop-wide, max) { 
          font-size: 2.5rem; 
        }

      }

      img {
        position: absolute;
        top: 0;
        left: -20%;
      }

      .col-text-icon {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 0 5rem;
        z-index: 3;
      }

      .col-icon-content {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        i,
        svg {
          font-size: 3rem;
          color: $white;
        }

      }

      .divider-ver {
        border-left: 1px solid $white;
        height: 50px;
        margin: auto 0;
        margin-left: 1rem;
        
        p {
          color: $white;
          text-transform: uppercase;
          font-size: 1.1rem;
          margin-bottom: 0;
          padding-bottom: 0;
          margin-top: .5rem;
          padding: 0 1rem;
        }

      }

    }

  }

  &-button { display: none; }

  &-page-dots {

    position: absolute;
    right: 0;
    top: 50%;
    height: 50vh;
    padding-right: 2rem;
    width: 0 !important;

    .dot {

      display: block !important;
      margin: .5rem 0;

    }

  }

}